@import url('https://fonts.googleapis.com/css?family=Open+Sans')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family  'Open Sans', sans-serif;

.header
  background url('../background.jpg')
  background-size:     cover
  background-repeat:   no-repeat
  background-position: center center

  .page-title
    font-weight 700
    font-size 80px
    text-align center
    padding 140px
    color #fff

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px
.comment
  background #3AB795

.button
	background-color #000
	border none
	color white
	padding 15px 32px
	text-align center
	text-decoration none
	display inline-block
	font-size 16px
	margin 4px 2px
	
	&:hover
		background-color #3AB795
		text-decoration underline

.input
	width 100%