doctype html
html
	head
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Barrio")
		link(rel='stylesheet', href='/css/index.css')
		title HackOnTop
	body
		.header
			h1.page-title HackOnTop

		ul.nav
			li: a(href='/') HackOnTop
			li: a(href='/taker') Wezmę udział
			li: a(href='/list') Lista tematów
			li: a(href='/contact') Kontakt

		.main-content
			block content

		.footer
			p hackaton@mbank.pl

