doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		title mHack
	body
		.header
			h1.page-title mHack

		ul.nav
			li: a(href='/') Home
			li: a(href='/ideas') Dodaj Projekt
			li: a(href='/list') Lista Projektów
			li: a(href='/contact') Kontakt

		.main-content
			block content

		.footer
			Krzysztof Studniarek
