extend default

block content
  p.
    -> Hackaton? A co to?
       To impreza na której wraz z kolegami możesz poddać się pasji programowania. 
       Realizujecie dowolny temat w dowolny sposób, bez ciśnienia, stresu czy strachu w luźnej atmosferze.
       To zabawa, ale taka która ma uczyć, a wnioski z niej pomogą ulepszyć nasze codzienne życie.
  p. 
    -> Dowolny temat? Naprawdę dowolny?
       YES! YES! YES! Tematy można zgłaszać pod przyciskiem #[a(href="/ideas") Dodaj temat]. 
       Moga być dowolne włącznie z napiseniem gry na portal mBank :) 
       Tematem może być też przygotowanie architektury rozwiązania, czy dokumentacji - nie musi być programistyczne.
  p.
    -> Nie mam pomysłu! To bez sensu! Po co mam przychodzić!
      Przyjdź! Będzie fajna zabawa. Pizza, zimne piwo i przyjemna atmosfera.
      Jeśli nie zgłosiłeś tematu, nie martw się, koledzy będą potrzebowali pomocy w realizacji swoich pomysłów.
      Jeśli to Cię jeszcze nie zainteresowało zobacz tematy w #[a(href="/list") Lista tematów].
      Zapisz się już teraz! Kliknij #[a(href="/taker") Węzmę udział]!
  
  p.
    Jeśli wszedłes na tą stronę to znaczy, że masz szansę ulepszyć swoje miejsce pracy. 
    Właśnie rozpoczyna się zbieranie zapisów na tematy na hackaton organizowany w mBanku.
    Możesz zaproponować dowolne tematy, które chciałbyś zrealizować w ciągu weekendu:
    Nowa technologia, którą chciałbyś poznać, a potem użyć?
    Może jakiś biznesowy proces?
    Pomysł na mBankowy produkt?
    A może chcesz w gronie przyjaciół spędzieć chwilę przy piwie i komputerze?

  p.
    Na razie nie ma żadnego regulaminu. Przyjmujemy dowolne tematy, a potem coś z tego miksu wybierzemy.
    Chętni mogą zapisywać się w zakładce - #[a(href="/taker") Węzmę udział]. Tematy zgłaszamy w zakładce #[a(href="/ideas") Dodaj temat].
    Pod przyciskiem #[a(href="/list") Lista tematów] zobaczysz jakie już tematy mamy. Warto je przejżeć zanim dodasz coś nowego!
