extend default

block content
  h1 HackOnTop:
  .p Hackaton to spotkanie w gronie specjalistów, w którym chętni mogą rozwiązywac problemy, lub tworzyc nowe rozwiązania dla mBank. Jest to niesamowita okazja by się pokazać, ponieważ jest to inicjatywa oddolna. To !TY! możesz zgłosić dowolny temat i go realizować wraz z innymi. 
  <br>
  .p Nie masz pomysłów? Nie przejmuj się na pewno inni je mają. Podczas zapisywania się możesz utworzyć nowy pomysł bądź zaopiniować inne (zaznaczenie checka koło tematu to Twój głos na niego).
  <br>
  .p Zauważ, że inicjatywa jest skierowana do WSZYSTKICH pracowników. Nie musisz być programistą. Możesz zaprojektować coś, lub zaproponować i opracować nowy proces. Tematyka jest dowolna bo to czas dla CIEBIE, na TWOJE pomysły.
  <br>
  h3 ZAPRASZAMY!!!