extend default

block content
  p.
    Jeśli wszedłes na tą stronę to znaczy, że masz szansę zmienić swoje miejsce pracy. 
    Właśnie rozpoczyna się zbieranie zapisów na tematy na hackaton organizowany w mBanku.
    Możesz zaproponować dowolne tematy, które chciałbyś zrealizować w ciągu weekendu:
    Nowa technologia, którą chciałbyś poznać, a potem użyć?
    Może jakiś biznesowy proces?
    Pomysł na mBankowy produkt?
    A może chcesz w gronie przyjaciół spędzieć chwilę przy piwie i komputerze?

  p.
    Na razie nie ma żadnego regulaminu. Przyjmujemy dowolne tematy, a potem coś z tego miksu wybierzemy.
    Chętnie mogą zapisywać się w zkładce - JESTEM CHĘTNY/CHĘTNA. Tematy zgłaszamy w zakładce DODAJ TEMAT.
    Pod przyciskiem LISTA TEMATÓW zobaczysz jakie już tematy mamy. Warto je przejżeć zanim dodasz coś nowego!
