extend default

block content
	h1= title
	br
	form(name="add-idea", method="post", action="/ideas")
		label(for='name') Imię i nazwisko:
		br
		input(name='name', type='text', value='', id='name', class='input')
		br
		br
		label(for='title') Tytuł projektu:
		br
		input(name='title', type='text', value='', id='title', class='input')
		br
		br
		label(for='description') Opis:
		br
		textarea(name='description', value='', id='description', class='input', rows='15')
		br
		br
		input(type="submit", value="Dodaj projekt", class="button")